<h4>User registration example</h4>

<div class="d-flex flex-column w-50">
  <form class="d-flex flex-column">
    <mat-form-field>
      <mat-label>UserName</mat-label>
      <input matInput type="text">
      <mat-error>Username is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput type="text">
      <mat-error>Firstname is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput type="text">
      <mat-error>Last name is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="text">
      <mat-error>Email is missing or invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Area</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Road</mat-label>
      <input matInput type="text">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password">
      <mat-error>Password is missing or invalid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password">
      <mat-error>Confirm Password is missing or invalid</mat-error>
    </mat-form-field>

    <button mat-flat-button color="primary">Register</button>

    <button class="mt-3" mat-flat-button color="primary">Register another user</button>

  </form>
</div>